@charset "UTF-8";
/*css 初始化 */
*{margin:0;padding:0;}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/150%  "microsoft yahei";
    background: #fff;
    color:#000;
}

/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, button{
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

/*统一组合框的默认样式*/
select,input {
    padding: 0;
    padding: 0;
    font-family: "microsoft yahei", "微软雅黑";
    outline-style: none;

}

select, input, button {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 14px;
    margin: 0;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

/*超链接符号*/
a{
    text-decoration: none;
}
a:visited,a:hover{
    text-decoration: none;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
    color: #F2F2F2;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}
input,button,select,textarea{
    outline:none;
    -webkit-apperance:normal;
}
/*公共类*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

.show{
    display:block;
}
.fl35{
    margin-left: 35.67%;
}
.fl7{
    margin-left: 7.33%;
}
.fl8{
    margin-left:8.67%;
}
.fl6{
    margin-left: 6.4%;
}
.fl40{
    margin-left: 3.33%;
}
.fl5{
    margin-left:5%;
}
.fl45{
    margin-left:4.5%;
}
.ft10{
    margin-top: 10px;
}
.ft16{
    margin-top: 16px;
}
.ft20{
    margin-top:20px;
}
.ft22{
    margin-top: 22px;
}
.ft30{
    margin-top: 30px;
}
.ft35{
    margin-top: 35px;
}
.ft39{
    margin-top: 39px;
}
.ft46{
    margin-top: 46px;
}
.ft53{
    margin-top: 53px;
}
.ft56{
    margin-top: 56px;
}
.ft58{
    margin-top: 58px;
}
.ft60{
    margin-top: 60px;
}
.ft74{
    margin-top: 74px;
}
.ft80{
    margin-top: 80px;
}
.ft130{
    margin-top:130px;
}
.c42{
    color:#4285f4;
}
.c33{
    color:#333333;
}
.c55{
    color: #555555;
}
.c66{
    color:#666666;
}
.c99{
    color:#999999;
}
.cff{
    color:#ffffff;
}
.cb3{
    color:#b3b3b3;
}
.ec8{
    color:#ec8e45;
}
.fm{
    font-family: SimSun;
}
.font16{
    font-size: 16px;
}
.font17{
    font-size: 17px;
}
.font18{
    font-size: 18px;
}
.font20{
    font-size: 20px;
}
.font22{
    font-size: 22px;
}
.font24{
    font-size: 24px;
}
.font26{
    font-size: 26px;
}
.font30{
    font-size: 30px;
}
.font36{
    font-size: 36px;
}
.bbottom{
    border-bottom: 2px solid #4285F4;
}
.bleft{
    border-left: 2px solid #4285F4;
}
.w90{
    width:7.5%;
}
.bg42{
    background: #4285F4 !important;
}
.bgb3{
    background: #b3b3b3 !important;
}
.current_nav{
    color:#4285f4;
    border-bottom: 2px solid #4285F4;
}